.portrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.portcolumn {
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.portcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .portcolumn {
      flex: 50%;
      max-width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .portcolumn {
      flex: 100%;
      max-width: 100%;
  }
}