.mainbox {
    padding: 10px;
}

.updimg img {
    max-height: 300px;
    max-width: 300px;
}

@media screen and (max-width: 800px) {
    .updimg img {
        max-height: 150px;
        max-width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .updimg img {
        max-height: 75px;
        max-width: 75px;
    }
}